/* Font families
font-family: 'Fira Sans', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Satisfy', cursive;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url("https://res.cloudinary.com/ds7vqqwb8/image/upload/v1594694622/Project%201%20-%20Portfolio/Vision_Board_-_Narissa_Hajratalli_Final_xu8kz8.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

/* -------HEADER------- */
header {
    width: 75%;
    margin: auto;
    color: white;
}

h1  {
    text-align: center;
    border: 1px solid black;
    padding-top: 5vw;
    padding-bottom: 20px;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 9vw;
}

/* -------NAV BAR------ */
nav {
    /* border: 1px solid black; */
    width: 75%;
    margin: auto; /*this centers the nav bar in the middle of the page*/
    font-size: 3vh;
    font-family: 'Fira Sans', sans-serif;
    padding: 2vh;
    display: flex;
}

nav ul {
    width: 100%; /* This stretches the unordered list div to the length of the nav bar */
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

li {
    padding: 10px;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: white;
}

a:hover{
    color: #4429CF;
}

/* -------ABOUT ME------ */
#about-me-heading, #projects-heading, #contact-me-heading {
    font-family: 'MuseoModerno', cursive;
    font-size: 5vw;
    text-align: center;
    padding-top: 3%; /* Make padding more responsive*/
}

section {
    position: relative;
    width: 100%;
    padding: 50px;
}

.circle {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.me {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 80px;

}

section h2 {
    font-size: 3em;
    margin-bottom: 10px; 
}

section p {
    font-size: 1.5em;
}


/*-----------HAMBURGER-----------*/
.responsive-menu > ul {
    list-style-type: none;
    /* display: hidden; */
   }

.responsive-menu .expand > ul {
        display: hidden;
    }

/*-----------CONTACT-----------*/
#contact-container {
    margin: 0 auto;
}

#contact-me {
    display: flex;
    justify-content: center;
}

/*---------MEDIA QUERIES-------------*/

@media only screen and (min-width: 1200px) {
    nav {
        font-size: 6vh;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        font-size: 3vh;
    }
}


@media only screen and (min-width: 481px) {
    .responsive-menu > ul {
        display: none;
    }
}

@media only screen and (max-width: 481px) {
/*Hamburger menu; this will only show up at width of 481px or smaller.*/
/*This is a common breakpoint for phones*/ 
    .hamburger {
        position: relative;
        display: flex;
        float: right;
        justify-content: center;
        align-self: center;
        width: 55px;
        height: 55px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid white;
        box-shadow: 0 2px 5px purple;
        margin-right: 3vw;
      }

    .menu-btn-burger {
          width: 25px;
          height: 3px;
          background: white;
          border-radius: 5px;
          transition: all .5s ease-in-out;
          display: flex;
          justify-content: center;
          align-self: center;
          padding: 1px;
      }

    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }

    /*This moves one of the lines up 16px*/
    .menu-btn-burger::before{
          transform: translateY(-10px);
      }
    /*This moves one of the lines up 16px*/
    .menu-btn-burger::after{
        transform: translateY(10px);
    }
    /*Hamburger animation 1 - makes all three lines move out of the box and makes the middle line disappear*/
    .hamburger.open .menu-btn-burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    /*Hamburger animation 2 - rotates the before line 45 degrees upward */
    .hamburger.open .menu-btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    /*Hamburger animation 3 - rotates the after line 45 degrees downward */
    .hamburger.open .menu-btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
        
    .responsive-menu{
        display: none;
       }
        
    .expand {
        display: flex !important; 
        float: right;
        flex-direction: column;
        justify-content: right;
        align-self: center;
        flex-wrap: wrap;
        background-color: gainsboro;
        opacity: 0.5;
        color: black;
       }

    nav {
        display: hidden;
    }

    .hidden {
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        border-width: 0;
    }

    header {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {
   
    body {
        /* margin: 0; */
        width: 400px;
    }

    header {
        width: 100%;
    }

    .contact-me {
        width: 400px;
    }
}

