/* Font families
font-family: 'Fira Sans', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Satisfy', cursive;
*/


* {
    margin: 0;
    padding: 0;
  }

body {
    background-image: url("https://res.cloudinary.com/ds7vqqwb8/image/upload/v1594694622/Project%201%20-%20Portfolio/Vision_Board_-_Narissa_Hajratalli_Final_xu8kz8.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

/* -------HEADER------- */
header {
    width: 75%;
    margin: auto;
    color: white;
}

h1  {
    text-align: center;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'MuseoModerno', cursive;
    font-size: 9vw;
}

/* -------NAV BAR------ */
nav {
    border: 1px solid black;
    width: 75%;
    margin: auto; /*this centers the nav bar in the middle of the page*/
    background-color: lavender;
    opacity: 0.5;
}

ul {
    width: 100%; /* This stretches the unordered list div to the length of the nav bar */
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

li {
    padding: 10px;
}

.me {
    border-radius: 50%;
    margin-left: 10vw;
    margin-top: 5vw;
    width: 40%;
  }

/* -------ABOUT ME------ */
h2 {
    font-family: 'Satisfy', cursive;
    font-size: 5vw;
    text-align: center;
    padding-top: 5%; /* Make padding more responsive, looks weird in small screens */
}
/* -------HAMBURGER------ */

@media only screen and (max-width: 960px) {
    .hidden {
        display: inline;
    }
    .shown {
        display: inline;
    }
    
}


@media only screen and (max-width: 640px) {
    .hamburger {
        float: right;
        display: flex;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid teal;
        float: center;
      }

      .line {
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px grey;
        transition: all .5s ease-in-out;
        margin: auto;
    }

      .hidden {
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        border-width: 0;
    }

    header {
        width: 100%;
        /* margin: 0 auto; */
    }
    
    .me {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

}

/* @media only screen and (max-width: 400px) {
   
    header {
        width: 100%;
    }
} */

