* {
    margin: 0;
    padding: 0;
  }


/* -------HEADER------- */
h1  {
    text-align: center;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -------NAV BAR------ */
nav {
    border: 1px solid black;
}

ul {
    width: 100%; /* This stretches the unordered list div to the length of the nav bar */
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

li {
    padding: 10px;
}


